.landing-cont {
    height: calc(100vh - 68px);
    background: #1b1b2b;
    position: relative;
    background: url(../../images/hero-bg.png) #1b1b2b no-repeat;
    background-position-x: right;
    color: #fff;
    background-size: 41rem;
}

.landing-text {
    padding-left: 5rem;
    position: absolute;
    top: 30%;
}

.landing-text h2 {
    font-size: 1.3rem;
}

.landing-text h1 {
    font-size: 65px;
    margin-bottom: 30px;
}

.landing-text p {
    width: 31rem;
    color: #a9a7eb;
    margin-bottom: 2rem;
}


.button{
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
}