.projects-cont {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects {
       max-height: 60rem;
        /* max-height: 50rem; */
       overflow: hidden;
       transition: max-height 0.7s;
}

.projects.open {
    max-height: 130rem;
    transition: max-height 0.7s;
}

button:hover {
    background: #6b50c3;
    color: #fff;
}

@media (max-width: 1200px) {
    .projects {
        max-height: 50rem;
    }
}
/* @media (max-width: 800px) {


     .project.open {
         max-height: 188rem !important;
     }
} */

@media (max-width:900px) {

      .projects {
          max-height: 90rem !important;
      }

      .projects.open {
          max-height: 188rem !important;
      }


}

@media (max-width: 600px) {
    .projects {
        max-height: 85rem;
    }

    .projects.open {
            max-height: 140rem;

    }

}