.projects-cont {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects {
       max-height: 60rem;
        /* max-height: 50rem; */
       overflow: hidden;
       transition: max-height 0.7s;
}

.projects.open {
    max-height: 130rem;
    transition: max-height 0.7s;
}

button:hover {
    background: #6b50c3;
    color: #fff;
}

@media (max-width: 1200px) {
    .projects {
        max-height: 50rem;
    }
}
@media (max-width: 800px) {
    .projects {
        max-height: 77rem;
    }
}