.about-cnt {
    display: flex;
    padding: 0rem 3rem 0;
    /* background: #1b1b2b; */
    color: #fff;
}


.about-main {
    padding-bottom: 10.4rem;
}


.about-cnt p {
     width: 37rem;
    margin-right: 12rem;
    line-height: 25px;
}


.img-me {
    border: 1px solid #6b50c3;
    width: 24rem;
    position: relative;
    height: 16rem;
    border-radius: 10px;
}

.img-me img {
    height: 16rem;
    left: 18px;
    position: absolute;
    top: -17px;
    width: 24rem;
    border-radius: 8px;
}

.my-stack {
    color: #fff;
    padding: 0 48px;
}

.small-line {
    position: relative;

}

.small-line::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    background: #d9d1f8;
    left: 12px;
    top: -4px;
}

.small-line::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    background: #d9d1f8;
    top: 8px;
}

.top-icons {
   display: flex;
   margin-bottom: 3rem;
   padding-left: 3rem;
   align-items: center;
}

.top-icons h3 {
   display: inline-block;
    margin-left: 79px;
   color: #fff;
   font-size: 1.7rem;
}

.long-line {
    height: 2px;
    width: 27rem;
    background: #d9d1f8;
    position: absolute;
    left: 17rem;
}

.long-line::after {
    border-radius: 50%;
    content: '';
    position: absolute;
    height: 7px;
    border: 2px solid #b0aff6;
    width: 7px;
    right: -11px;
    top: -5px;
}

.stack-icon{
    display: flex;
    margin-top: 23px;
}


.icon-bar {
    border-radius: 24px;
    margin-right: 15px;
    width: 10rem;
    background-color: #b0aff629;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-bar img {
    height: 1.8rem;
    margin-right: 11px;
}

.icon-bar span {
    font-size: 13px;
}