.contact-body{
    /* padding-left: 55px; */
}

.contact-main{
    background: url(../../images/call-img.png);
    padding-left: 55px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30rem;
    background-position-y: 2rem;
    margin: 5rem auto;
}

.contact-body p {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.7;
    margin-bottom: 2rem;
    width: 36rem;
}

form {
    width: 50%;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 38px;
}

label {
    color: #fff;
}
input {
    margin-top: 0.7rem;
    height: 2.5rem;
    border-radius: 2rem;
    border: none;
    background: #33334c;
    padding: 5px 20px;
    width: 30rem;
    color:#505065;
}

input::placeholder {
     color: #505065;
}


textarea {
    padding: 1rem;
    width: 30rem;
    border-radius: 1.3rem;
    margin-top: 0.7rem;
    height: 8rem;
    background: #33334c;
    border: none;
}

.long-line {
    left: 21rem;
}

.btn-cont {
    width: 32rem;
    justify-content: center;
    display: flex;
}

button {
    padding: 0.81rem 2rem;
    background: transparent;
    color: #fff;
    border: 1px solid;
    font-size: 16px;
}

.about-main {
    padding-bottom: 12.4rem;
}

@media (max-width: 1200px) {
    .contact-main {
        background-size: 24rem;
        /* background-position-x: 39rem; */

    }

    .contact-body p {
        width: 30rem;
    }
}

@media (max-width: 1000px) {
    .contact-main {
        background-size: 15 rem;
    }
}
@media (max-width: 800px) {
    .contact-main {
        background: none;
    }
}