* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: Georgia, 'Times New Roman', Times, serif ; */
}

html {
  scroll-behavior: smooth;
}

aside ul{
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  height: 100%;
  background: #1b1b2b;
  width: 5rem;
  align-items: center;
}

aside ul a {
  color: white;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}


main {
  /* width: calc(100% - 5rem); */
  width: 100%;
  position: absolute;
  right: 0;
  padding: 0 90px;
}

@media (max-width:1200px) {

  .container {
    margin-right: 2rem;
  }
  .container img {
        height: 14rem;
  }

  .main {
    padding: 0;
    padding-left: 90px;
  }
}

@media (max-width:900px) {
  .bars {
    display: block;
    opacity: 1;
    transition: opacity 0.7s;
  }

  .menu {
    display: none;
  }

  .container {
    flex-direction: column;
  }
}
